@import url('https://fonts.cdnfonts.com/css/carson');
@import url('https://fonts.cdnfonts.com/css/balechin-royalo');
@import url('https://fonts.cdnfonts.com/css/rajdhani');

.container {
    display: block;
    margin: 0 auto;
    font-family: 'Segoe UI', 'Rajdhani', sans-serif, 'Carson';
    line-height: 1.3;
    background-color: #0d1930;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    color: #333;
}

.hello-world {
    justify-content: center;
    text-align: center;
    font-size: 1.4vw;
    background-color: rgb(0, 0, 0) !important;
    color: #dadada;
    position: relative;
    left: -1%;
    bottom: 89%;
    font-family: monospace;
    text-align: left;
    padding-left: 5vw;
    padding-right: 1vw;
    border-radius: 4px;
    overflow: hidden;
    width: 15vw;
    text-shadow: 3px 2px 3px rgba(75, 168, 32, 0.801);
    box-shadow: 4px 8px 3px rgb(124, 124, 124);
}

.header-bg {
    width: 100%;
    background-image: linear-gradient(to top, #1e3c72, #2a5298);
    overflow: hidden;
    text-align: center;
}

.line {
    height: 0.3vh;
    margin-left: 27%;
    margin-right: 0%;
    margin-top: 3%;
    background-color: #dadada;
    border-radius: 8px;
}

.line2 {
    height: 0.1vh;
    width: 75%;
    background-color: #dadada;;
    border-radius: 8px;
}

.title-name {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 7vw;
    letter-spacing: 10px;
    color: #e0f6ed;
    overflow: hidden;
    font-family: 'Carson', sans-serif;
}

.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Carson', sans-serif;

    text-shadow: 4px -4px 0px rgba(123, 174, 178, 0.8);
}

.glitch {
    position: relative;
    font-size: 5vh;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 9px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.glitch:before {
    animation: glitch-it 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
}

.glitch:after {
    animation: glitch-it 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -2;
}

@keyframes glitch-it {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    to {
        transform: translate(0);
    }
}


.sub-title {
    justify-content: center;
    display: block;
    margin-top: 10px;
    font-family: monospace;
    text-align: center;
    color: #dadada;
    font-size: 2.2vh;
    text-shadow: 0px 8px 5px rgba(42, 121, 128, 0.41);
    width: 100%;
    backdrop-filter: blur(2px);
    border-radius: 18px;
}



#navbar ul {

    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 2vh;

    letter-spacing: 0.3vw;
    transition: color 0.3s ease;
}

#navbar ul li {
    list-style: none;
    padding: 0px;
    margin: 0 3vw;
}

#navbar ul li a {
    display: flex;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 2vh;
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

#navbar ul:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
}

#navbar ul li a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #151515;
}

#navbar ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d9dee0;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

#navbar ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

main {
    padding: 1vw;
    display: block;

}

.grid-layout {
    display: grid;
    grid-template-columns: 0.5fr 0.1fr;
    grid-template-areas:
        "about Skills ."
        "Projects Skills .";
    justify-content: center;
    gap: 1vw;
    justify-items: center;
    align-items: center;
    margin: 10px auto;

}

.about {
    grid-area: about;
    padding: 1vw;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 8px;
    max-width: 50vw;
    width: auto;
    background-color: #2a529882;
}

.about #img-profile {
    max-width: 120px;
    border-radius: 25% 10%;
    border: 5px solid #2a52987f;
    float: left;
    margin-right: 15px;
    width: auto;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.about p {
    color: #dadada;
    width: auto;
    text-align: justify;
    margin-left: 5px;
    text-shadow: 1px 2px 3px #0000006a;
    font-weight: 400;
    font-size: 18px;

}

.skills {
    background-color: #2a5298;
    grid-area: Skills;
    width: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 10px 12px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 8px;
    margin-right: 5vw;
}

.skills h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2vw;
    color: #dadada;
    text-align: center;
    justify-content: center;
    width: 100%;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}

.skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid #a0aaab;
    border-radius: 8px;
    background-color: #39b15f1d;
    padding: 1.5vw;
    transition: transform 0.3s ease;
}

.skills div:hover {
    transform: rotate(5deg) scale(1.1);
    background-color: #d9dee0;
}

.skills div:nth-child(even):hover {
    transform: rotate(-5deg) scale(1.1);
    background-color: #a1bac0;
}

.skills img {
    max-width: 10vh;
    height: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    grid-area: Projects;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2a52988e;
    border-radius: 8px;
    box-shadow: rgba(43, 92, 113, 0.12) 10px 12px 4px 0px, rgba(61, 129, 158, 0.32) 0px 2px 16px 0px;
    width: 85%;
    padding: 20px;
}



.project-img {
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    width: 80%;
    max-width: 366px;
    height: 100%;
    max-height: 175px;
    margin: 3vh;
    border: 3px solid rgb(0, 0, 0);
}

.projects h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3vw;
    color: #dadada;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    margin: 0;
}


#project-list {
    margin-left: -40px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vh;
    justify-content: center;
    align-items: center;
    place-items: center;
}


#project-list li {
    width: 19vw;
    height: inherit;
    max-width: 800px;
    border-radius: 8px;
    transition: transform 0.4s ease;
    overflow: hidden;
    z-index: 1;
}

#project-list li:hover {
    transform: scale(1.03);
    box-shadow: 2px 4px 4px rgb(52, 52, 52);
    background-color: #486eae;
    border: 1px solid black;
    z-index: 2;
}

#project-list li:hover p {
    display: block;
    margin-top: 20vh;
    z-index: 1;
}

#project-list h3 {
    color: #ffffff;
    text-align: center;
    text-decoration: overline;
    margin-top: -20px;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}

#project-list li p {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
    color: #dadada;
    font-family: 'Carson';
    margin: 0px 0px;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    white-space: normal;
}

#project-list a {
    color: #000000;
    text-decoration: none;
}

#project-list a:visited {
    color: #00636a;
    text-decoration: none;
}

#footer {
    height: 14vh;
    background-color: #09456c;
    color: #dadada;
    text-align: center;
    font-size: 2.2vw;
    letter-spacing: 0.3vw;
    width: 50%;
    margin: 0 0 0vw 21vw;
    align-items: center;
    justify-content: center;
}

#footer h2 {
    margin-top: 1vh;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2vw;
    color: #dadada;
    text-align: center;
    justify-content: center;
    width: 100%;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}

#footer div {
    display: flex;
    align-items: center;
    width: auto;
}

#footer a {
    width: 100%;
    display: center;
    color: white;
    margin: 3vh;
    padding: 0.5vw;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: none;
    fill: white;
}




@media screen and (max-width: 995px) {

    .header-bg {
        width: 100%;
    }

    .glitch {
        font-size: 3vw;
    }

    .about {
        width: 500px;
    }

    #navbar ul li a {
        margin-top: -2vh;
        font-size: 1.3vw;
    }

    .about p {
        width: auto;
        font-size: 22px;
        text-align: justify;
        margin-left: 5px;
        text-shadow: 1px 2px 3px #808080;
        font-weight: 400;
        font-size: 14px;
    }

    .about .img-profile {
        width: 100px;
        height: auto;
    }

    .sub-title {
        font-size: 1.5vw;
    }

    .skills {
        display: table-column-group;
        align-items: center;
        text-align: center;
    }



    .projects {
        width: 45vw;
        height: auto;
    }

    #project-list {
        display: flex;
        flex-direction: column;
    }

    .projects ul {
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 60vw !important;
    }

    #project-list li {
        width: 40vw;
        text-align: center;

    }

    #project-list li p {
        top: 8vh;
    }


}


@media screen and (max-width: 700px) {


    .header-bg {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .title-name {
        font-size: 4vw;
    }

    .links {
        padding: 0px 5px;
    }

    .about #img-profile {
        width: 14vw;
    }

    #project-list li p {
        top: 1vh;
    }

    footer {
        width: 100%;
    }

    footer a {
        margin: 1vw;
    }
}


@media screen and (max-width: 600px) {

    .hello-world {
        font-size: 2vw;
    }

    .title-name {
        font-size: 4vw;
        text-align: center;
    }

    .sub-title {
        font-size: 2.3vw;
        text-align: center;
        margin-top: 20px;
    }

    .links {
        font-size: 2vw;
        padding: 0px 5px;
    }

    .about p {
        font-size: 2.2vw;
    }


    .skills {
        width: 12vw;
    }

    .skills h2 {
        font-size: 2.8vw;
    }

    .skills img {
        width: 9vw;
    }

    .projects {
        width: 55%;
    }

    .projects h3 {

        font-size: 3vw;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    #project-list li {
        width: auto;
        height: auto;
    }

    .project-img {
        width: 35vw;
        height: 14vh;
        padding: 0px;
    }

    #project-list p {
        font-size: 2vw;
        margin-top: 2vh;
    }

    #footer {
        font-size: 2vw;
    }

    #footer a {
        margin: 1vh
    }
}


@media screen and (max-width: 300px) {
    .project-img {
        width: 35vw;
        height: 12vh;
        padding: 0px;
    }
}
